* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  height: 100vh;
  width: 100vw;
  background-color: rgb(19, 57, 77);

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

button {
  cursor: pointer;
}


button.open {
  display: block;
  font-size: 52px;
  width: 30%;
  margin: 30px auto;

  transition: all .3s;
}

button:hover {
  color: red;
}

section#modal {
  display: none;
  background-color: rgba(0, 0, 0, 0.5);

  height: 100vh;
  width: 100vw;

  position: absolute;
  top: 0;
  left: 0;

  align-items: center;
  justify-content: center;
}

section#modal div {
  background-color: white;

  width: 220px;
  height: 150px;

  padding: 20px;
  border-radius: 30px;

  position: relative;
}

section#modal div button.closeModal {
  position: absolute;
  top: 10%;
  right: 7%;
}

section#modal input {
  margin: 10px 0;
  padding: 5px;
}